.section__factura {
    padding: 2rem;
  }
  
  .filtro__fecha {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .filtro__fecha label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  .filtro__fecha input{
    background-color: #888;
    
    border: black   ;
  }
  .contenedor__facturas {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .columna {
    flex: 1;
    min-width: 300px;
  }
  
  .tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #383232;
  }
  
  .tabla th,
  .tabla td {
    border: 1px solid #ccc;
    color: #fff;
    padding: 0.5rem;
    text-align: left;
  }
  
  .botonDetalles {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .botonDetalles:hover {
    background-color: #004a99;
  }
  
  .detalles {
    background-color: #f7f7f7;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #0066cc;
    border-radius: 4px;
  }
  
  .facturas__container {
    padding-top: 8rem;
    padding-left: 2rem;
  }
  
  .filtro__fecha {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .columnas {
    display: flex;
    gap: 2rem;
    color: white;
  }
  
  .columna {
    flex: 1;
    min-width: 0;
    overflow-x: auto;
  }
  
  .tabla {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla th,
  .tabla td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }
  
  .botonDetalles {
    padding: 0.3rem 0.5rem;
    cursor: pointer;
  }
  
  .detalles {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .vacio {
    color: #888;
    font-style: italic;
  }
  
  .filaDetalles td {
    padding: 0;
    border: none;
  }

  
  

  /* HEADERRRRRRRR */

  .header__filtros {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50); /* negro semitransparente */
    color: white;
    z-index: 1000;
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 10rem;
    
    backdrop-filter: blur(6px); /* efecto vidrio */
  }
  
  .header__filtros h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .filtro__fecha {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .filtro__fecha label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #f0f0f0;
  }
  
  .input_fecha {
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 4px;
    margin-top: 0.2rem;
    font-size: 1rem;
  }
  